
        #container{
            width: 100%;
            height: px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }
        .box1{
            
            height: 50px;
            background-color:#f2e9fe;
            display: flex;
            
        }
        .topleft{
            display:flex;
            height: 50px;
            
            width:300px;
            margin-left: 100px;
            padding-top: 10px;
            box-sizing: border-box;
            justify-content: space-around;
            font-size: 15px;
        }
        .topleft>div{
            display: flex;
            margin-top: 5px;
            font-family:sans-serif;
        }
        .topleft>div>div:nth-child(2n){
            color: #596a99;
            padding-left: 10px;                 
        }

        .topright{
            display:flex;
            height: 50px;
            
            width:400px; 
            box-sizing: border-box;
            margin-left: 600px;
            align-content: center;
            justify-content: space-evenly;
            font-size: 15px;
        }
        .topright>div{
            color: #596a99;
            margin-top: 14px;
            font-family:sans-serif;
        }
        #sel1{
            color:#596a99;
            border-radius: 10px;
            height: 25px;
            width: 60px;
            background-color:#f2e9fe;
            margin-bottom: 1px;
        }


        #contain{
            display: grid;
            width: 80%;
            margin: auto;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: auto;
            margin-top: 20px;
            margin-left: 95px;
            gap: 20px;
        }

       #boxitem {
           
            display: grid;align-content: space-between;
            padding-bottom: 10px;
            box-sizing: border-box;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }
        #boxitem:hover{ box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;cursor: pointer;}
.btnCart{ width: 150px;display: block;margin:10px auto 7px;padding: 5px 0px;cursor: pointer;border: none;}
.btn:hover{ box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;cursor: pointer; }
        
/* ----------------------------------------------------------------------------------------------- */
/* ------box2--------------------------------------------------------------------------------------------- */
        #container>.box2{
            height: 80px;
            width: 1295px;
            
            display: flex;
            margin: auto;
            margin-top: 25px;
            margin-right: 117px;
            justify-content: space-between;

        }
        #candere{
            width: 230px;
            height: 50px;
    
        }
        #midinput{
            width: 600px;
            display: flex;
            
            background-color:#f8f8f8;
            margin-right: 100px;
            height: 50px;
            border-radius: 30px;
            justify-content: space-around;
        }
        #text{
            width: 400px;
            height: 50px;
            border:none;
            background-color:#f8f8f8;
            box-sizing: border-box;
            margin-left: 30px;
            font-family: sans-serif;
            font-size: 14px;
            font-style: italic;
            color: rgb(185, 184, 184);
            font-weight: 400;
        }
        #mic{
            display: flex;
            width: 100px;
            justify-content: space-evenly;
            margin: auto;
            font-size: 20px;
            margin-right: 10px;
        }
        #heart{
            display: flex;
            font-size: 25px;
            height: 50px;
            justify-content: space-evenly;
            margin-right: 25px;
            width: 200px;
            padding-top: 10px;
        }
 /* ------------------------------------------------------------------------------------------
 ------------box3------------------------------------------------------------------------------        */
        #container>#box3{
            display:flex;
            width:60%;

            margin: auto;
            margin-left: 250px;
            justify-content: space-evenly;

        }
        #box3>.trending{
         
         font: size 14px;
         color: #494949;
         font-family: sans-serif;
         
         
        }
        #home{
            margin-left: 90px;
            font-size: 11px;
            margin-top: 50px;
        }

        #container1{
        width:1325px;
        height: 100px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        margin-left: 90px;
        }
        #a1{
            display:flex;
            width: 280px;
            height: 20px;
            padding-left: 10px;
            padding-top: 10px;
            justify-content:space-between ;
        }
        #a1>div:nth-child(1){
            font-size: 12px;
            font-family: sans-serif;
            color: black;
            font-weight: 700;
            
        }
        #a1>div:nth-child(2){
            font-size: 16px;
            font-family: sans-serif;
            color: #716f6f;
            font-weight: 400;
        }
        #a2{
            display:flex;
            width:1325px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            
            height: 70px;
            justify-content: space-around;   
        }
        select,p,i{cursor: pointer;}
        #a2>div{
            
            width: 100%;
            height: 30px;
            margin: 15px;
            background-color:#e7eff2;
        }

        .selectTag{
            border:none;
            width:100%;
            background-color:#e7eff2;
            margin: auto;
            text-align: center;
            margin-top: 6.5px;
        }
       #a2>.teal{
             width: 100%;
             height: 30px;
            color: white;
            width:100%;
            background-color:teal;
            margin: 15px;
            text-align: center;
            justify-content: center;
            
            
        }
/* ------------------------------------------------------------ */
#container2{
    display: grid;
    grid-template-columns: repeat(4,315px);
    grid-template-rows: repeat(3,400px);
    margin-top: 20px;
    margin-left: 95px;
    gap: 20px;
}
#container2>div{
    border: 1px solid grey;
}
#write{
    color: #716f6f;
    font-size: 14px;
    margin-top:33px ;
    
    box-sizing: border-box;
    background-color:#f9f9f9;
    font-family: sans-serif;
    font-weight: 400;
    padding-left: 10px;
}
#write>p:nth-child(2){
    line-height: 5px;
}
#container2 img{
    width: 230px;
    height: 230px;
    margin-left: 50px;
    margin-top: 30px;

}
span{
    font-size: 20px;
    margin-left: 5px;
}
/* -------------------------------------------------------------- */
#load{
    width: 88%;
    height: 30px;
    border: 0.2px solid grey;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 93px;
    margin-top: 2%;
    padding: auto;
    text-align: center;
    padding-top: 10px;
    
}

/* -------wrting------------------------------------------------------------- */
#container3{
    width: 88%;
    height:1600px; 
    
    margin-left: 93px;
    margin-top: 2%;
}
#heading1{
    font-family: sans-serif;
    font-size: 16px;
    color: #716f6f;
    font-weight: 700;
}
#heading2{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    line-height: 19px;
    margin-top: -5px;
    text-align: left;
}
#heading2>span{
    font-size: 13px;
    font-weight: bolder;

}
#last1{
    width: 100%;
    height: 90px;
    
    background-color: #dbe4eb;
    display: flex;
    margin-top: 50px;
    
}

.last11{
    height: 40px;
    width: 300px;
    font-size: 16px;
    color:#797691;
    font-weight: 400;
    margin-left:300px;
    
}
.last12{
    height: 35px; 
    margin-top: 10px;
    margin-left: -60px;
}
.last13{
    height: 35px; 
    margin-top: 10px;
    margin-left: 20px;
}
.last14{
    height: 40px;
    width: 140px;
    margin-top: 10px;
    margin-left: 20px;
    background-color:#79778f;
    color:white;
    border: none;
    font-weight: 500;
    margin-right: 50px;
    
}
#last1>.last15{
    height:60px;
    width:300px;
    margin-top: 5px;
    
}
.last15>.up{
  
    height:20px;
    width:100%;
    margin-left:5px;
}

.last15>.down{
   
    height:30px;
    width:100%;
    display: flex;
}
.down>.logo_1{
    height:20px;
    width:25px;
    margin-right: 5px;
    margin-left: 8px;
    
}

#last2{
    display: flex;
    justify-content: space-evenly;
    height: 260px;
    width:100%;
    
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
#last2>div{
    width: 15%;   
}
.f1>h3{
    font-family: sans-serif;
    color: #787890;
    font-size: 15px;
   font-weight: 400;
}
.f1>p{
    font-family: sans-serif;
    color: #716f6f;
    font-size: 15px;
   font-weight: 400;;
    font-size: 14px;
   font-weight: 400;
   line-height: 15px;
}
/* ---------------------------------------------------------------------- */
  
#last3{
    height:90px;
    width: 100%;
    
    background-color: #7c7993;
    display: flex;
}
#last31>img{
    height: 70px;
    width: 100px;
    
    margin: 8px;
    margin-left: 55px;
}
#last32{
height: 40px;
width: 500px;

margin:auto;
margin-left: 250px;
padding-bottom: 15px;
}
#last32>h3{
color: #ffffff;
text-align: center;
font-size: 16px;
font-weight: 400;
}
#last33{
    display: flex;
    height: 40px;
    width: 500px;
    
    margin:auto;
    font-size: 16px;
    
    
}
#last33>.we{
    
    width:30%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 50px;
    color:#ffffff;
}
#last33>.A{
    height: 100%;
    width: 70%;
    
    box-sizing: border-box;
    margin-top: 5px;
    
    
}
/* ---------------------------------------------------------------- */
#last4{
    width: 100%;
    height: 90px;
    
    display: flex;
    margin-left: 10%;
}
#last4>.B{
    width: 80%;
    height: 80px;
    
    font-size: 12px;
    color: #716f6f;
    font-weight: 400;
    font-family: sans-serif;
    padding-top: 30px;
    box-sizing: border-box;
    padding-left: 80px;

}
#last4>.C{
    width: 10%;
    height: 80px;
    
    margin-top: 1%;
    box-sizing: border-box;
}
.C>img{
    width: 50%;
    height: 80px;
    padding-left: 50px;
    
}
button:hover,#load:hover{ cursor: pointer;}

